<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <% let number = 1; for(let i = number; i < 10; i++) { %>
    <h1>Hello <%= i %></h1>
    <% } %>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, autem
      veniam saepe facilis nostrum perferendis. Voluptates, rerum aliquid!
      Impedit voluptatibus magnam, cumque explicabo repudiandae placeat! Vero
      itaque quod dolorem eum? Porro, amet! Reiciendis quae assumenda non! Atque
      fugiat quasi quisquam odit reiciendis cupiditate quam itaque vel a beatae
      perspiciatis reprehenderit sit officia, porro ut suscipit ad, commodi,
      ipsum officiis veniam. Ratione consectetur dolores dicta expedita
      doloremque ipsam nam nobis, optio dolorum fugiat veritatis tenetur sed.
      Est expedita ad nam dicta voluptatum iusto inventore eveniet, pariatur
      quia, impedit soluta fuga vitae. Eos autem officia ad magni rerum, earum
      iusto magnam! Veniam debitis porro voluptatem provident animi repellat
      placeat exercitationem enim eveniet fuga adipisci reprehenderit sed
      excepturi nihil ut beatae, veritatis similique! Nisi ullam nihil enim
      delectus, eligendi laboriosam exercitationem minus in dolores nulla
      sapiente eius corporis. Ut, exercitationem odit iste laborum, similique
      non nulla libero doloribus reiciendis nisi hic repellat aliquid!
      Consequuntur facere, odio totam ab unde repellendus maxime laboriosam,
      voluptas deleniti perspiciatis doloremque itaque voluptatum porro a?
      Ducimus libero aliquid, amet impedit dolorem asperiores, esse veritatis
      atque obcaecati fuga est? Quisquam hic, iure et est blanditiis debitis
      porro vel soluta? Dolor minima porro, rerum natus numquam praesentium
      voluptates aperiam amet a ab quibusdam tempore maxime ducimus doloremque,
      optio expedita quam? Beatae facilis eius minima dicta architecto
      repellendus voluptatem perferendis quis odit doloribus, nesciunt
      dignissimos repudiandae ipsam alias a magnam placeat dolorum, non
      accusamus exercitationem nam nihil. Commodi maxime eligendi inventore!
      Soluta aliquid vel, quod qui aliquam fugit, voluptatibus enim officia
      placeat, distinctio laborum error? Nostrum, tempora odio, voluptates
      accusamus, nemo rerum quibusdam harum sed distinctio inventore voluptatum
      ad ab illum! Debitis provident vitae sequi ipsum ex, ducimus quis dolorum
      aliquam vero aut beatae, doloribus, deserunt nulla cupiditate a sint
      officia sunt? Vero praesentium ipsa minima suscipit quod quidem autem
      mollitia.
    </p>
  </body>
</html>
